body{
  background-color: #46E3F9;
}

.navbar-darkBlue {
  background-color: #031268;
  border-color: #031268;
  box-shadow: 0px 0px 50px black;
}
.navbar-darkBlue .navbar-brand {
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  color: #EEB019;
}

.navbar-darkBlue .navbar-brand:hover,
.navbar-darkBlue .navbar-brand:focus {
  color: #EEB019;
  background-color: transparent;
}
.navbar-darkBlue .navbar-text {
  color: #EEB019;
}
.navbar-darkBlue .navbar-nav > li > a {
  transition: background-color 1s ease;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #EEB019;
  border-radius: 10px;
  background-color: transparent;
  margin-left: 2px;
  margin-right: 2px;
}
.navbar-darkBlue .navbar-nav > li > a:hover,
.navbar-darkBlue .navbar-nav > li > a:focus {
  color: #031268;
  background-color: #EEB019;
  text-decoration: underline;
}
.navbar-darkBlue .navbar-nav > .active > a,
.navbar-darkBlue .navbar-nav > .active > a:hover,
.navbar-darkBlue .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
.navbar-darkBlue .navbar-nav > .disabled > a,
.navbar-darkBlue .navbar-nav > .disabled > a:hover,
.navbar-darkBlue .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-darkBlue .navbar-toggle {
  border-color: #ddd;
}
.navbar-darkBlue .navbar-toggle:hover,
.navbar-darkBlue .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-darkBlue .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-darkBlue .navbar-collapse,
.navbar-darkBlue .navbar-form {
  border-color: #e7e7e7;
}
.navbar-darkBlue .navbar-nav > .open > a,
.navbar-darkBlue .navbar-nav > .open > a:hover,
.navbar-darkBlue .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > li > a {
    color: #EEB019;
  }
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #EEB019;
    background-color: #031268;
  }
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #EEB019;
    background-color: #031268;
  }
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-darkBlue .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #ccc;
    background-color: transparent;
  }
}
.navbar-darkBlue .navbar-link {
  color: #777;
}
.navbar-darkBlue .navbar-link:hover {
  color: #333;
}
.navbar-darkBlue .btn-link {
  color: #777;
}
.navbar-darkBlue .btn-link:hover,
.navbar-darkBlue .btn-link:focus {
  color: #333;
}
.navbar-darkBlue .btn-link[disabled]:hover,
fieldset[disabled] .navbar-darkBlue .btn-link:hover,
.navbar-darkBlue .btn-link[disabled]:focus,
fieldset[disabled] .navbar-darkBlue .btn-link:focus {
  color: #ccc;
}

@media (min-width: 768px) {
  .navbar-darkBlue {
    background-color: #031268;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  .navbar-darkBlue .navbar-brand {
    transition: font-size 1s ease;
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-darkBlue .navbar-brand:hover,
  .navbar-darkBlue .navbar-brand:focus {
    font-size: 2.5em;
  }
  .navbar-darkBlue .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-darkBlue.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  .navbar-darkBlue.affix .navbar-brand {
    font-size: 1.5em;
  }
}

.nav-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #031268;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 10px;
  box-shadow: 0px 0px 100px black;
}
.nav-dropdown-menu.pull-right {
  right: 0;
  left: auto;
}
.nav-dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #EEB019;
}
.nav-dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #EEB019;
  white-space: nowrap;
}
.nav-dropdown-menu > li > a:hover,
.nav-dropdown-menu > li > a:focus {
  color: #031268;
  text-decoration: none;
  background-color: #031268;
  border-radius: 5px;
}
.nav-dropdown-menu > .active > a,
.nav-dropdown-menu > .active > a:hover,
.nav-dropdown-menu > .active > a:focus {
  color: #031268;
  text-decoration: none;
  background-color: #031268;
  outline: 0;
}
.nav-dropdown-menu > .disabled > a,
.nav-dropdown-menu > .disabled > a:hover,
.nav-dropdown-menu > .disabled > a:focus {
  color: #777;
}
.nav-dropdown-menu > .disabled > a:hover,
.nav-dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: #031268;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.open > .nav-dropdown-menu {
  display: block;
}
.open > a {
  outline: 0;
}
.nav-dropdown-menu-right {
  right: 0;
  left: auto;
}
.nav-dropdown-menu-left {
  right: auto;
  left: 0;
}
